<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('../partials/head');%>
    </head>

    <header>
        <%- include('../partials/header');%>
    </header>

    <body>
        <div class="wrapper">
            <div class="container">
                <%- include('../partials/container_title');%>
                <hr>
            </div>
            <div class="push"></div>
        </div>
        <%- include('../partials/footer')%>
    </body>
    <%- include('../partials/foot_script')%>

</html>
